{{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.nom,"Nom :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.nom) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.nom) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.type,"Type :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.type,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.type) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.type) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.localisation,"Localisation :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.localisation,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.localisation) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.localisation) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.disponibilite,"Disponibilite :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.disponibilite,{'attr':{'class':'form-control'}})}}
                {% if form_errors(form.disponibilite) is not empty %}
                    <div class="form-group has-error">
                        <label class="form-text text-muted">{{ form_errors(form.disponibilite) }}</label>
                    </div>
                {% endif %}
        </div>
    </div>
    <br><br><br>
    <div align="center" class="card-footer">
        <button style="width:70px;" class="btn btn-block btn-primary btn-sm"><i class="zmdi zmdi-plus"></i>{{ button_label|default('Ajouter') }}</button>
        <button style="margin-top:-29px;margin-left:200px;width:120px;" class="btn btn-block btn-info btn-sm"><a style="color:#fff;" href="{{ path('app_centremedicale_index') }}">Consulter Liste</a></button>
    </div>
{{ form_end(form) }}
