{{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.date,"Date :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.date,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.date) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.date) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.sujet,"Sujet :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.sujet,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.sujet) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.sujet) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.description,"Description :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.description,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.description) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.description) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.rating,"Rating :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.rating,{'attr':{'class':'form-control'}})}}
                {% if form_errors(form.rating) is not empty %}
                    <div class="form-group has-error">
                        <label class="form-text text-muted">{{ form_errors(form.rating) }}</label>
                    </div>
                {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.solved,"Solved :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.solved,{'attr':{'class':'form-control'}})}}
                {% if form_errors(form.solved) is not empty %}
                    <div class="form-group has-error">
                        <label class="form-text text-muted">{{ form_errors(form.solved) }}</label>
                    </div>
                {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.tourisme_id,"Tourisme :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.tourisme_id,{'attr':{'class':'form-control'}})}}
                {% if form_errors(form.tourisme_id) is not empty %}
                    <div class="form-group has-error">
                        <label class="form-text text-muted">{{ form_errors(form.tourisme_id) }}</label>
                    </div>
                {% endif %}
        </div>
    </div>
    <br><br><br>
    <div align="center" class="card-footer">
        <button style="width:70px;" class="btn btn-block btn-primary btn-sm"><i class="zmdi zmdi-plus"></i>{{ button_label|default('Ajouter') }}</button>
        <button style="margin-top:-29px;margin-left:200px;width:120px;" class="btn btn-block btn-info btn-sm"><a style="color:#fff;" href="{{ path('app_reclamation_index') }}">Consulter Liste</a></button>
    </div>
{{ form_end(form) }}
