{{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.sujet,"Sujet :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.sujet,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.sujet) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.sujet) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.description,"Description :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.description,{'attr':{'class':'form-control'}})}}
            {% if form_errors(form.description) is not empty %}
                <div class="form-group has-error">
                    <label class="form-text text-muted">{{ form_errors(form.description) }}</label>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="col col-md-3">
            <label>{{ form_label(form.rating,"Rating :") }}</label>
        </div>
        <div class="col-12 col-md-9">
            {{ form_widget(form.rating,{'attr':{'class':'form-control'}})}}
                {% if form_errors(form.rating) is not empty %}
                    <div class="form-group has-error">
                        <label class="form-text text-muted">{{ form_errors(form.rating) }}</label>
                    </div>
                {% endif %}
        </div>
    </div>
    <br><br><br>
    <div align="center" class="card-footer">
        <button style="width:70px;" class="btn btn-block btn-primary btn-sm"><i class="zmdi zmdi-plus"></i>{{ button_label|default('Ajouter') }}</button>
        <button style="margin-top:1px;margin-left:5px;width:220px;" class="btn btn-block btn-info btn-sm"><a style="color:#fff;" href="{{ path('app_tourisme_index_front') }}">Retour à la liste des Tourisme</a></button>
    </div>
{{ form_end(form) }}
